name: Test Ruby

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: ubuntu-latest
    # needs: []
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev'

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Docker Build and Push API
        uses: cartoway/docker-compose-build-push-action@main
        with:
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          project: teritorio/elasa-api
          service: api

      - name: Docker Build and Push Directus
        uses: cartoway/docker-compose-build-push-action@main
        with:
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          project: teritorio/elasa-directus
          service: directus
